@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
.bg-img::before{
    content: "";
    background-image: url('../images/bg.webp');
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 880px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.btn-link{
    border: 1px solid white;
    padding: 10px 32px;
    border-radius: 35px;
}
.talk-btn{
    margin-right: 35px;
}
.logo{
    margin-left: 50px;
}
.nav-spc{
    padding: 15px 0px;
}
.nav-link:hover{
    border-bottom: 3px solid white;
}
.bg-text{
    margin-top: 195px;
}
.ban-text{
    width: 45%;
    margin-left: 60px;
    margin-top: 34px;
}
.ban-head{
    font-size: 60px;
}
.ban-img{
    margin-left: 150px;
}
.ban-para{
    font-size: 25px;
    font-weight: 500;
    margin-top: 31px;
}

.ban-info{
    padding: 80px 130px;
}
.ban-icon{
    padding: 10px;
    margin-left: 15px;
    width: 55px;
    height: 54px;
    text-align: center;
}
.phn{
    margin-top: 80px;
    margin-left: 235px;
}
.serv-head{
    margin-top: 120px;
    margin-left: 90px;
}
.service{
    border: 1px solid #EFEFEF;
    padding: 50px 66px;

    // margin-top: 100px;
}
.service:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.3s;
}
.service-1{
    border: 0;
}
.service-2{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    @extend .service
}
.service-3{
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    @extend .service
}
.service-4{
    border-right: 0;
    border-bottom: 0;
    @extend .service
}
.main-service{
    margin-top: 50px !important;
}
.serv-2{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.serv-link{
    color: #FF8553;
    border-bottom: 1px solid #FF8553;
    transition: 0.4s;
}
.serv-link:hover{
    color: #FF8553;
    letter-spacing: 1px;
    transition: 0.4s;
}
.overley{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.overley-cntnt{
    background-color: #ff85534d;
  position: absolute;
  width: 555px;
  border-radius: 10px;
  height: 500px;
  left: -555px;
  top: 0;
  bottom: 0;
  padding-top: 320px;
    padding-left: 50px;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.overley:hover .overley-cntnt{
    left: 0;
}
.wrk-btn{
    border-radius: 25px;
    border: 1px solid #FF8553;
    padding: 12px 40px;
    color: #FF8553;
}
// .about{
//     margin-top: 100px;
//     width: 75%;
//     border-top-right-radius: 60px;
// }
.about-info{
    background-color: #EFEFEF;
    padding-top: 116px;
    padding-left: 100px;
    width: 144%;
    border-top-right-radius: 60px;
}
.about-para{
    width: 58%;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 36px;
}
.abt-sec1{
    padding: 0 !important;
}
.about-qot{
    font-size: 25px;
    width: 53%;
    line-height: 35px;
    letter-spacing: 1px;
    color: #FF8553;
}
.abt-spc{
    margin-top: 100px !important;
}
.sec-2{
    margin-top: 185px;
}
.bar{
    height: 5px !important;
    width: 73%;
}
.sub-bar{
    width: 60%;
    background-color: #FF8553 !important;
}
.sub-bar2{
    width: 89%;
    @extend .sub-bar
}
.sub-bar3{
    width: 95%;
    @extend .sub-bar
}
.prgress{
    width: 73%;
}
.num{
    color: #FF8553;
}