@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
html{
    scroll-behavior: smooth;
  }
.bg-img::before{
    content: "";
    background-image: url('../images/bg.webp');
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 880px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.dropdown-item{
    color: #FF8553 !important;
}
// .home-btn{
//     position: relative;
//     overflow: hidden;
// }
// .home-btn::before{
//     border: 1px solid transparent;
//     content: "";
//     position: absolute;
//     left: 14px;
//     top: -2px;
//     width: 68%;
//     height: 111%;
//     background: #fff;
//     border-radius: 35px;
//     z-index: -1;
//     transition: transform 0.5s;
// }



.talk-btn{
    color: #FF8553 !important;
    border: 1px solid white !important;
    padding: 13px 38px !important;
    border-radius: 35px !important;
    margin-right: 35px;
    // position: relative;
    // overflow: hidden ;

}
// .talk-btn::before{
//     border: 1px solid transparent;
//     content: "";
//     position: absolute;
//     left: 0px;
//     top: -58px;
//     width: 101%;
//     height: 111%;
//     background: #fff;
//     color: #FF8553;
//     border-radius: 35px;
//     z-index: -1;

// }
 .btn-link:hover{
    color: #FF8553 !important;
    // top: 0;
    // z-index: 0;
}
.logo{
    margin-left: 50px;
}
.nav-spc{
    padding: 15px 0px;
}
.nav-link:hover{
    border-bottom: 3px solid white;
}
.bg-text{
    margin-top: 195px;
}
.ban-text{
    width: 45%;
    margin-left: 60px;
    margin-top: 34px;
}
.ban-head{
    font-size: 60px;
}
.ban-img{
    margin-left: 150px;
}
.ban-para{
    font-size: 25px;
    font-weight: 500;
    margin-top: 31px;
}

.ban-info{
    padding: 80px 130px;
}
.ban-icon{
    padding: 10px;
    margin-left: 15px;
    width: 55px;
    height: 54px;
    text-align: center;
}
.phn{
    margin-top: 80px;
    margin-left: 235px;
}
.serv-head{
    margin-top: 120px;
    margin-left: 90px;
}
.service{
    border: 1px solid #EFEFEF;
    padding: 50px 66px;

    // margin-top: 100px;
}
.service:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.3s;
}
.service-1{
    border: 0;
}
.service-2{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    @extend .service
}
.service-3{
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    @extend .service
}
.service-4{
    border-right: 0;
    border-bottom: 0;
    @extend .service
}
.main-service{
    margin-top: 50px !important;
}
.serv-2{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.serv-link{
    color: #FF8553;
    border-bottom: 1px solid #FF8553;
    transition: 0.4s;
}
.serv-link:hover{
    color: #FF8553;
    letter-spacing: 1px;
    transition: 0.4s;
}
.overley{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.overley-cntnt{
    background-color: #ff85534d;
  position: absolute;
  width: 555px;
  border-radius: 10px;
  height: 500px;
  left: -555px;
  top: 0;
  bottom: 0;
  padding-top: 320px;
    padding-left: 50px;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.overley:hover .overley-cntnt{
    left: 0;
}
.wrk-btn{
    border-radius: 25px;
    border: 1px solid #FF8553;
    padding: 12px 40px;
    color: #FF8553;
}
.about{
    position: relative;
}
.about::before{
    content: "";
    position: absolute;
    width: 72%;
    height: 730px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: #EFEFEF;
    z-index: -1;
}
.about-info{
    // background-color: #EFEFEF;
    padding-top: 116px;
    padding-left: 100px;
    width: 144%;
    border-top-right-radius: 60px;
}
.about-para{
    width: 58%;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 36px;
}
.abt-sec1{
    padding: 0 !important;
}
.about-qot{
    font-size: 25px;
    width: 53%;
    line-height: 35px;
    letter-spacing: 1px;
    color: #FF8553;
}
.abt-spc{
    margin-top: 100px !important;
}
.sec-2{
    margin-top: 185px;
}
.bar{
    height: 5px !important;
    width: 73%;
}
.sub-bar{
    width: 60%;
    background-color: #FF8553 !important;
}
.sub-bar2{
    width: 89%;
    @extend .sub-bar
}
.sub-bar3{
    width: 95%;
    @extend .sub-bar
}
.prgress{
    width: 73%;
}
.num{
    color: #FF8553;
}
.slider{
    margin-top: 50px;
    width: 83% !important;
    margin-left: 80px;
}
.owl-item{
    padding: 0 !important;
}
.item{
    width: 190px !important;
    margin-right: 0 !important;
}
.client{
    margin-top: 200px;
}
.client-para{
    width: 82%;
    text-align: center;
    margin-left: 70px;
}
.client-info{
    width: 65% !important;
    background-color: #eea58814;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
.carousel-control-prev{
    position: absolute !important;
    border: 1px solid #EFEFEF !important;
    border-radius: 50% !important;
    width: 35px !important;
    height: 35px !important;
    left: 220px !important;
    top: 200px !important;
    background: #EFEFEF !important;
    padding: 5px !important;
}
.carousel-control-next{
    position: absolute !important;
    border: 1px solid #EFEFEF !important;
    border-radius: 50% !important;
    width: 35px !important;
    height: 35px !important;
    right: 220px !important;
    top: 200px !important;
    background: #EFEFEF !important;
    padding: 5px !important;
}
.footer{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-top: 100px;
}
.fot-info{
    width: 73%;
    letter-spacing: 1px;
}
.fot-icon{
    border: 1px solid transparent;
    padding: 9px;
    color: #FF8553;
    border-radius: 5px;
    margin: 0px 5px;
    background-color: #935840a1;
}
.fot-icon:hover{
    transform: rotateY(180deg);
    transition: 0.4s;
}
.fot-sec2{
    margin-top: 60px !important;
}
.fot-btn{
    border: 1px solid white;
    border-radius: 25px;
    padding: 12px 40px;
}
.fot-btn:hover{
    color: #FF8553 !important;
}
.fot-links{
    margin-left: 100px;
}
.end{
    margin-top: 100px;
}
.fot-btn2{
    background-color: #FF8553;
    padding: 13px 40px;
    border-radius: 25px;
}
.news{
    background-image: url('../images/1.webp');
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    width: 88%;
    height: 330px;
    margin-left: 115px;
    transition: 0.7s;
    overflow: hidden;
}
.news-img{
    width: 85%;
}
.news:hover{
    transform: scale(1.1);
    
}
.news2{
    background-image: url('../images/2.webp');
    @extend .news
}
.news3{
    background-image: url('../images/2.webp');
    @extend .news
}
.serv-head1{
    margin-top: 150px;
    margin-left: 190px;
    position: relative;
}
.serv-head1::before{
    content: "";
    position: absolute;
    width: 85%;
    top: -92px;
    right: 0;
    height: 400px;
    background-color: #EFEFEF;
    border-top-left-radius: 80px;
    z-index: -1;
}
.main-news-img{
    position: relative;
}
.news-info{
    position: absolute;
    top: 220px;
    left: 22px;
}
.news-img{
    width: 90%;
    overflow: hidden;
}
.zoom-img{
    overflow: hidden;
}
.zoom-img img{
    transition: 0.3s ease-in-out;
    transform: scale(1);
}
.zoom-img:hover img{
    transform: scale(1.2);
}
.main-news-img:hover .news-link{
    text-decoration: underline;
}
.tips-btn{
    background: #FF8553;
    border-radius: 20px;
    padding: 5px 15px;
}
.news-icon{
    position: absolute !important;
    top: -43px !important;
    left: 1059px !important;
}
.news-icon2{
    position: absolute;
    top: -43px !important;
    right: 200px !important;
}
.news-icon:hover{
    background-color: #FF8553 !important;
    color: white !important;
}
.news-icon2:hover{
    background-color: #FF8553 !important;
    color: white !important;
}
// Css of Blog
.bolg-bg-img::before{
    background-image: url('../images/blog-img.webp');
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    content: "";
    height: 440px;
    z-index: -1;
}
.b-head{
    padding-top: 100px;
    padding-left: 150px;
    font-size: 55px;
    font-weight: 500;
    height: 440px;
}
.card{
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog-info{
    font-size: 15px;
}
.blog-info:hover{
    color: #FF8553 !important;
}
.card-info{
    font-weight: 600;
}
.card-para{
    width: 100%;
    letter-spacing: 1px;
}
.blog-img-text{
    position: absolute;
    background-color: #FF8553;
    height: 80px;
    padding: 12px 23px;
    width: 11%;
    border-radius: 5px;
    bottom: 185px;
    left: 39px;
}
.blog-img-text:hover{
    background-color: transparent;
    color: #FF8553 !important;
}
.mnth{
    margin-top: -8px;
}
.card-info:hover{
    color: #FF8553 !important;
}


.s-bar{
    border-radius: 0 !important;
    padding: 10px;
}
.s-bar:focus{
    box-shadow: none !important;
    outline: none;
}
.s-bar1{
    border: 1px solid transparent;
    background-color: #FF8553;
    color: white;
    width: 19%;
    @extend .s-bar
}
.blog-btn{
   color: #FF8553;
   border: 1px solid #FF8553;
   padding: 14px 107px;
    margin-left: -12px;
}
.blog-btn:hover{
    background-color: #FF8553;
    color: white;
}
.b-sec2{
    padding: 30px 25px;
    width: 90%;
}
.sec2-detail{
    position: relative;
}
.sec2-detail::after{
     content: "";
     border-bottom: 1px solid #ebebeb;
     position: absolute;
    width: 271px;
    top: 30px;
    left: 0;
}
.sec2-detail:hover{
    color: #FF8553 !important;
}
.sec2-detail1{
    position: relative;
}
.sec2-detail1::after{
    top: 45px;
    @extend .sec2-detail::after
}
.date{
    margin-top: -15px;
}
.post-head:hover{
    color: #FF8553 !important;
}
.cloud-btn{
    border: 1px solid #ebebeb;
    color: grey;
    padding: 4px 14px;
    font-size: 13px;
}
.c-btn{
    padding: 0px 3px !important;
}
.cloud-btn:hover{
    background-color: #FF8553 !important;
    color: white;
}
.f-img1{
    margin: 0px 5px;
}
.b-sec3{
    padding: 30px 13px;
    width: 90%;
}
.news-btn{
    color: #FF8553;
    border: 1px solid #FF8553;
    padding: 14px 98px;
    margin-left: -12px;
}
.news-btn:hover{
    background-color: #FF8553 !important;
    color: white;
}
.news-inp{
    padding: 12px !important;
    border-radius: 0 !important;
}
.news-inp:focus{
    box-shadow: none !important;
}
.page-item{
    padding: 0px 5px;
}
.b-detail{
    padding: 40px 50px;
}
.sub-detail{
    padding: 20px 40px;
    border-left: 1px solid grey;
    color: grey;
}
.detail-border{
    position: relative;
}
.detail-border::after{
    content: "";
     border-bottom: 1px solid #ebebeb;
     position: absolute;
     width: 100%;
     top: 104px;
    left: 0;
}
.detail-icon{
    padding: 0px 5px;
}
.b-d-icons{
    margin-left: 430px;
    color: grey;
}
.detail-icon:hover{
    color: #FF8553 !important;
}
.next-post{
    margin-left: 297px;
}
.p-post{
    margin-top: 5px;
}
.post-info{
    margin-top: -21px;
}
.person-info{
    padding: 48px;
    margin-top: 60px;
}
.detail-border2{
    position: relative;
}
.detail-border2::after{
    content: "";
     border-bottom: 1px solid #ebebeb;
     position: absolute;
     width: 100%;
     top: 82px;
    left: 0;
}
.detail-border3{
    position: relative;
}
.detail-border3::after{
    content: "";
     border-bottom: 1px solid #ebebeb;
     position: absolute;
     width: 100%;
     top: 230px;
    left: 0;
}
.rply{
    margin-top: 80px;
}
.detail-border4{
    position: relative;
}
.detail-border4::after{
    content: "";
     border-bottom: 1px solid #ebebeb;
     position: absolute;
     width: 100%;
     top: 140px;
    left: 0;
}
.detail-img{
    width: 97%;
}
.p-info{
    margin-top: -15px;
}
.rply-btn:hover{
    color: #FF8553 !important;
}
.leave-cmnt{
    padding: 10px !important;
    border-radius: 0 !important;
}
.leave-cmnt:focus{
    box-shadow: none !important;
}
.cmnt-btn{
    border: 1px solid #FF8553;
    color: #FF8553;
    padding: 15px 40px;
}
.cmnt-btn:hover{
    background: #FF8553;
    color: white;
}
.m-cmnt-btn{
    margin-left: -15px;
}
.cntct-map{
    margin-left: 120px;
    width: 80%;
    height: 380px;
}
.cntct-icons{
    margin-top: 80px;
    margin-left: 100px;
}
.c-icons{
    margin-left: 100px;
}
.icon-info{
    margin-top: -11px;
    font-size: 14px;
    color: grey;
}
.heart{
    color: #FF8553;
}
input::placeholder{
    font-size: 13px;
}
textarea::placeholder{
    font-size: 13px;
}
.prev-img{
    position: relative;
}
.prev-text{
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 8%;
    height: 59px;
    color: white;
    text-align: center;
    padding-top: 17px;
    visibility: hidden;
}
.prev-text2{
    height: 60px;
    right: 20px;
    @extend .prev-text
}
.overley-img:hover .prev-text{
    visibility: visible;
}
.home-icon{
    height: 34px;
    width: 35px;
    color: #8f9195;;
}
.up-icon{
    background: #FF8553;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    // box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
}